POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=wagering
POSTGRES_PORT=5432

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://localhost:4566
SQS_WAGER_QUEUE_URL=http://localhost:4566/queue/us-east-1/000000000000/wager-transactions.fifo
SQS_WAGER_DLQ_URL=http://localhost:4566/queue/us-east-1/000000000000/wager-transactions-dlq.fifo
SQS_WAGER_EVENTS_QUEUE_URL=http://localhost:4566/queue/us-east-1/000000000000/wager-events.fifo
SQS_RETRY_BASE_DELAY_SECONDS=30
LOCALSTACK_PORT=4566
